body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #fff;
}
img {
    display: block;
    margin: 0 auto;
    justify-content: center;
    top: -30px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #aaa;
}

#counter {
    display: block;
    text-align: center;
    top: -50px;
    font-size: 80px;
    margin-top: 100px;
    color: #3498db;
    text-shadow: 2px 2px #666;
}

button {
    display: inline-block;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px #666;
}

button:focus {
    outline: none;
}

#gif-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
}

#reset-button {
    display: inline-block;
    justify-content: center;
    margin-right: 10px;
    margin: 50px auto 0;
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px #666;
}

#reset-button:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }

    #counter {
        font-size: 30px;
    }

    button {
        font-size: 16px;
    }

    #reset-button {
        font-size: 16px;
    }
}

